*{
    font-family: monaco,Consolas,Lucida Console,monospace; 
}

body{
    display:flex;
    flex-direction: column;
}


/* Header and Footer */
.Header, .Footer{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    color:#FFFFFF
}
.Header{
    background-color: rgba(75, 46, 43, 0.75);
}
.Company-Logo-In-Header{
    width: 100px;
    height: auto;
}
.Header .Left-Links{
    display:flex;
    align-items: center;

}
.Header .Right-Links{
    display:flex;
    gap:30px;
}

.Footer{
    background-color: #2E1C1A;
    justify-content: center;
}

.Footer .Center-Links{
    display:flex;

}

.Footer .Right-Links{
    display:flex;
}
/* About-Us Section */
.First-Info{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:50px;
    background-color: #F7F3EE;
}

.About-Info-Box{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: auto;
    text-align: left;
    color: #2B2B2B;
}
.About-Us-Title{
    color:#4B2E2B;
}
.About-Divider{
    border-radius: 5px;
    border-color:#C8A27A;
    margin: 5px;
}
.About-Us-Img{
    width: 400px;
    margin: 0px 100px 0 100px;
}
.Sign-Up{
    border:1px solid #2B2B2B;
    border-radius: 3px;
    background-color:#D97742;
    color:#FFFFFF;
}
.About-Info-Box button:hover{
    background-color: #C8A27A;
}

/* Products Section */
.Second-Info{
    text-align: center;
    background-color: #FFFFFF;
}


.Products-Box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0px 10px 0;
}
.Products-Box img{
    width: 300px;
    height: 200px;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    display:flex;
    background-color: #F7F3EE;
    border:1px solid #C8A27A;
    border-radius: 12px;
}
.Product-Title{
    color:#4B2E2B;
}
.Product-Text{
    color:#6B6B6B
}

/* Others */
a,ul{
    text-decoration: none;
    list-style: none;
    color:inherit;
}
a:active{
    color: #D97742;
    text-decoration: underline; 
}
a:hover{
    color: #C8A27A; 
    text-decoration: none; 
}